.bus-stops-wrapper {
  padding: 20px 5px;
  margin-bottom: 15px;
  max-width: 90%;

  border-top: 1px solid grey;
  border-bottom: 1px solid grey;

  background-color: white;
  overflow-y: auto;
}

.bus-stops-list {
  overflow-y: auto;
}

.bus-stop-label {
  text-align: center;
}

.hidden {
  visibility: hidden;
  background-color: red;
}

q .bus-stop-list-item {
  border-bottom: 1px solid #e0e0e0;
}

.bus-stop-list-item:last-child {
  border-bottom: none;
}
