.bus-stops-wrapper {
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  overflow-y: auto;
}

.bus-stops-wrapper:empty {
  display: none;
}

.bus-stop-list-item {
  border-bottom: 1px solid #e0e0e0;
}

.bus-stop-list-item:last-child {
  border-bottom: none;
}
